.main_chat
  .main_chat-top
    .left-test
      %p.left-test-top
        = @group.name
      %p.left-test-under
        - @group.users.each do |user|
          = user.name

    .right-edit
      = link_to 'Edit' , edit_group_path(@group) , class: "deco-none"

  .main_chat-middle
    = render @messages

  .main_chat-bottom
    = form_for [@group, @message] do |f|
      .form
        .type-message
          = f.text_field :content, class: 'word' , placeholder: 'type a message'
          = f.label :image, class: 'word-right' do
            = icon('fas', 'image', class: '')
            = f.file_field :image, class: 'display-none'
        .word-right
        = f.submit 'Send', class: 'send-button'